
.accordion {
    @include clearfix();
    background: $red;
    padding: (30/18 * 1rem) (10/18 * 1rem) (10/18 * 1rem);
    
    &__col {
        float: left;
        width: 50%;

        @include media-breakpoint-down(md) {
            float: none;
            width: auto;
        }
    }

    &__item {
        background: $white;
        border-radius: $border-radius;
        margin-bottom: (20/18 * 1rem);
        margin-left: (15/18 * 1rem);
        margin-right: (15/18 * 1rem);
        overflow: hidden;
        transition: height .3s ease;
        min-height: (50/18 * 1rem);

        @include media-breakpoint-down(md) {
            min-height: (38/18 * 1rem);
        }
    }

    &__link-wrapper {

    }

    &__link {
        @include no-link-underline();
        display: block;
        font-size: (18/18 * 1rem);
        font-weight: 600;
        color: $black !important;
        padding-top: (10/18 * 1rem);
        padding-bottom: (10/18 * 1rem);
        padding-left: (30/18 * 1rem);
        padding-right: (55/18 * 1rem);
    }

    &__link-icon {
        display: block;
        width: 15px;
        height: 15px;
        position: absolute;
        top: (18/18 * 1rem);
        right: (20/18 * 1rem);

        @include media-breakpoint-down(md) {
            top: (15/18 * 1rem);
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            background: $yellow;
            transition: all .15s ease-out;
        }

        &:before {
            top: 6px;
            left: 0;
            width: 15px;
            height: 3px;
        }

        &:after {
            top: 0;
            left: 6px;
            width: 3px;
            height: 15px;
        }

        .open & {

            &:after {
                display: none;
            }
        }
    }

    &__link {

        &:hover {

            .accordion__link-icon {

                &:before {
                    left: -3px;
                    width: 21px;
                }

                &:after {
                    top: -3px;
                    height: 21px;
                }
            }
        }
    }

    &__content {
        @include clear-content-margins();
        padding-top: (3/18 * 1rem);
        padding-bottom: (24/18 * 1rem);
        padding-left: (30/18 * 1rem);
        padding-right: (30/18 * 1rem);
        font-size: (16/18 * 1rem);
        line-height: (24/16);
    }
}
