
.big-teaser {
    margin-top: (191/18 * 1rem);
    margin-bottom: (106/18 * 1rem);
    
    &__container {
        @extend .container;
    }

    &__content {
        @include clear-content-margins();
    }

    &__cta-wrapper {
        margin-top: (43/18 * 1rem);
        text-align: center;
    }

    &__cta {

    }
}
