
.burger-menu {
    @include no-link-underline();
    display: block;
    width: 22px;
    height: 17px;
    
    &__line {
        display: block;
        width: 22px;
        height: 3px;
        background: $red;
        position: absolute;
        left: 0;
        right: 0;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            top: 7px;
        }

        &:nth-child(3) {
            top: 14px;
        }
    }
}
