
.burger-menu-close {
    @include no-link-underline();
    display: block;
    width: 33px;
    height: 33px;
    
    &__line {
        display: block;
        width: 33px;
        height: 3px;
        background: $white;
        position: absolute;
        left: 0;
        right: 0;
        transition: all .3s ease-out;

        &:nth-child(1),
        &:nth-child(3) {
            top: 15px;
        }

        &:nth-child(1) {
            transform: rotate(45deg);
        }

        &:nth-child(2) {
            background: transparent;
        }

        &:nth-child(3) {
            transform: rotate(-45deg);
        }
    }
}
