
.city {
    position: relative;
    
    &__photo-wrapper {

    }

    &__photo {
        @include img-fluid();
        width: 100%;
    }

    &__card {
        position: relative;
        top: (-91/18 * 1rem);
        left: 11%;
        right: 11%;
        width: 78%;
        padding: (25/18 * 1rem) (31/18 * 1rem);
        background: $white;

        h3, .h3 {
            @include heading-underline($height: 8, $offset: -3, $bottom: 1);
            margin-bottom: (8/18 * 1rem);
            font-size: (24/18 * 1rem);
            font-weight: 700;
        }

        p {
            margin-bottom: (4/18 * 1rem);
        }
    }

    &__link-wrapper {

    }

    &__link {
        font-weight: 600;
        color: $black !important;
    }
}
