.cities {
    margin-bottom: (7/18 * 1rem);
    margin-top: (66/18 * 1rem);

    &__container {
        @extend .container;
    }

    &__container-text {
        @extend .container;

        > .row {
            > [class*="col"] {
                @include clear-content-margins();
                margin-bottom: (30/18 * 1rem);
            }
        }
    }
}
