
.cookie-notice {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $zindex-sticky;
    width: 100%;
    background: $yellow;
    color: $white;

    &--hidden {
        display: none;
    }

    &__container {
        @extend .container;
        padding-top: (42/18 * 1rem);
        padding-bottom: (43/18 * 1rem);
        display: flex;
        justify-content: space-between;
    }

    &__text-wrapper {
        font-family: $font-family-sans-serif-alt;
        font-size: (16/18 * 1rem);
    }

    &__text {
        margin-bottom: (5/18 * 1rem);
    }

    &__link-wrapper {

    }

    &__link {
        @include no-link-underline();
        color: $white;
    }

    &__button-wrapper {
        margin-top: (7.5/18 * 1rem);
        margin-left: (50/18 * 1rem);
    }

    &__button {
        @extend .btn;
        @extend .btn-outline-light;
        white-space: nowrap;
    }
}
