
.cta {
    margin-top: (106/18 * 1rem);
    margin-bottom: (192/18 * 1rem);
    background-image: url("../images/pattern.png");
    background-image: image-set(
        url("../images/pattern.png") 1x,
        url("../images/pattern@2x.png") 2x,
    );
    background-position: left top;
    background-repeat: repeat;
    text-align: center;
    
    &__container {
        @extend .container;
        padding-top: (37/18 * 1rem);
        padding-bottom: (42/18 * 1rem);
        display: flex;
        justify-content: center;
    }

    &__box {
        padding-top: (32/18 * 1rem);
        padding-bottom: (34/18 * 1rem);
        padding-left: (62/18 * 1rem);
        padding-right: (62/18 * 1rem);
        border-radius: $border-radius;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
        background: $white;
    }

    &__heading-wrapper {
        margin-bottom: (-26/18 * 1rem);
        position: relative;
        z-index: 1;
    }

    &__heading {
        margin-bottom: 0;
        display: inline-block;
        background: $white;
        font-size: (24/18 * 1rem);
        font-weight: 600;
        padding-top: (17/18 * 1rem);
        padding-bottom: (20/18 * 1rem);
        padding-left: (28/18 * 1rem);
        padding-right: (28/18 * 1rem);
    }

    &__button-wrapper {
        display: inline-block;
        background: $white;
        padding-top: (29/18 * 1rem);
        padding-bottom: (30/18 * 1rem);
        padding-left: (34/18 * 1rem);
        padding-right: (34/18 * 1rem);
    }

    &__button {
        text-transform: none;
        font-size: (40/18 * 1rem);
        line-height: 1;
        padding-top: (11/18 * 1rem);
        padding-bottom: (15/18 * 1rem);
        padding-left: (28/18 * 1rem);
        padding-right: (28/18 * 1rem);
        border-radius: $border-radius;
    }
}
