
.custom-carousel {

    .carousel-control-prev,
    .carousel-control-next {
        @include no-link-underline();
        width: 50px;
        height: 50px;
        background: $red;
        top: 50%;
        margin-top: -25px;
        opacity: 1;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background: transparent;
        width: 22px;
        height: 22px;
        line-height: 1;

        &:before {
            @include black-tie();
            content: "";
            font-weight: 700;
            font-size: 22px;
        }
    }

    .carousel-control-prev-icon:before {
        content: "\f092";
    }

    .carousel-control-next-icon:before {
        content: "\f093";
    }
}
