
.event {
    display: flex;
    align-items: flex-start;

    // @include media-breakpoint-down(md) {
    //     display: block;
    // }
    
    &__media {
        width: 35%;
        margin-right: (21/18 * 1rem);

        @include media-breakpoint-down(md) {
            // width: auto;
            width: 25%;
            // margin-right: 0;
            // margin-bottom: (21/18 * 1rem);
            // display: inline-block;
        }
    }

    &__image-wrapper {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 100%;
    }

    &__image {
        @include img-fluid();
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        vertical-align: top;
        object-fit: cover;
    }

    &__label-wrapper {
        position: relative;
        top: (-12/18 * 1rem);
        text-align: center;
        font-size: (13/18 * 1rem);
        font-weight: 700;
    }

    &__label {
        display: inline-block;
        padding-top: (1/18 * 1rem);
        padding-bottom: (1/18 * 1rem);
        padding-left: (11/18 * 1rem);
        padding-right: (11/18 * 1rem);
        color: $white;
        background: $yellow;
        text-transform: uppercase;
        border-radius: 999em;
    }

    &__content {
        flex: 1;
        padding-bottom: (19/18 * 1rem);
    }

    &__date {
        margin-top: (-2/18 * 1rem);
        margin-bottom: (11/18 * 1rem);
        font-size: (18/18 * 1rem);
        font-weight: 700;
        line-height: 1;
    }

    &__title {
        margin-bottom: (8/18 * 1rem);
        font-size: (24/18 * 1rem);
        font-weight: 700;
    }

    &__location {
        margin-bottom: (17/18 * 1rem);
        font-size: (16/18 * 1rem);
        font-weight: 400;
        line-height: 1;
    }

    &__description {
        margin-bottom: (17/18 * 1rem);
    }

    &__link-wrapper {
        font-size: (18/18 * 1rem);
        line-height: 1;
    }

    &__link {
        @include arrow-right-link();
        font-weight: 600;
        color: $black !important;
    }
}
