
.events-preview {
    
    &__header {
        margin-bottom: (17/18 * 1rem);
    }

    &__heading {
        @include heading-underline();
        margin-bottom: (6/18 * 1rem);
        font-size: (40/18 * 1rem);
        font-weight: 700;
    }

    &__subheading {
        margin-bottom: 0;
        font-size: (22/18 * 1rem);
        font-weight: 400;
    }

    &__content {
        margin-bottom: (18/18 * 1rem);
    }

    &__item {
        display: flex;
        align-items: flex-start;
        border-bottom: 1px solid #e0e0e0;
        padding-top: (25/18 * 1rem);
        padding-bottom: (23/18 * 1rem);

        &:last-child {
            border-bottom: 0;
        }
    }

    &__item-date-wrapper {
        text-align: right;
        width: (110/18 * 1rem);
        margin-right: (30/18 * 1rem);
        padding-top: (2/18 * 1rem);
    }

    &__item-date {
        margin-bottom: 0;
        font-size: (18/18 * 1rem);
        font-weight: 700;
    }

    &__item-content {
        flex: 1;
    }

    &__item-heading {
        margin-bottom: (3/18 * 1rem);
        font-size: (24/18 * 1rem);
        font-weight: 700;
    }

    &__item-heading-link {
        @include arrow-right-link();
        color: $black !important;
    }

    &__item-location {
        margin-bottom: 0;
        font-size: (16/18 * 1rem);
        font-weight: 400;
    }

    &__button-wrapper {

    }

    &__button {

    }
}
