
.events {
    margin-top: (95/18 * 1rem);
    margin-bottom: (95/18 * 1rem);
    
    &__container {
        @extend .container;

        > .row {

            > [class*=col] {
                margin-bottom: (37/18 * 1rem);
            }
        }
    }
}
