.eyecatcher {
    @include carousel-controls($white);

    &__landscape-carousel {
        display: block;

        @media (orientation: portrait) {
            display: none;
        }
    }

    &__portrait-carousel {
        display: none;

        @media (orientation: portrait) {
            display: block;
        }
    }

    .carousel {
        height: 100vh;
        height: calc(100vh - (170 / 18 * 1rem)); // 70 (top-bar) + 100 (header)

        @include media-breakpoint-down(md) {
            height: calc(
                100vh - (146 / 18 * 1rem)
            ); // 70 (top-bar) + 76 (mobile-header)
        }
    }

    .carousel-inner {
        height: 100%;
    }

    .carousel-item {
        height: 100%;
    }

    .carousel-item > img {
        display: block;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    &__text-carousel-lines {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    &__text-carousel-line-1,
    &__text-carousel-line-2,
    &__text-carousel-line-3 {
        border-radius: 10px;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 10px;
        transform: skew(-10deg);
    }

    &__text-carousel-line-1 {
        background: $white;
        color: $red;
        font-size: (32/18 * 1rem);
        padding-bottom: 7px;
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 3px;

        @include media-breakpoint-down(md) {
            font-size: (32 * 0.75/18 * 1rem);
        }
    }

    &__text-carousel-line-2,
    &__text-carousel-line-3 {
        background: $red;
    }

    &__text-carousel-line-2 {
        font-size: (65/18 * 1rem);
        padding-bottom: 14px;
        padding-left: 28px;
        padding-right: 28px;
        padding-top: 6px;

        @include media-breakpoint-down(md) {
            font-size: (65 * 0.75/18 * 1rem);
        }
    }

    &__text-carousel-line-3 {
        font-size: (45/18 * 1rem);
        padding-bottom: 13px;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 8px;

        @include media-breakpoint-down(md) {
            font-size: (45 * 0.75/18 * 1rem);
        }
    }
}
