
.footer-cta {
    margin-top: (124/18 * 1rem);
    margin-bottom: (-124/18 * 1rem);
    background: $red;
    color: $white;

    h5, .h5 {
        margin-bottom: (15/18 * 1rem);
        font-size: (40/18 * 1rem);
        font-weight: 700;
    }

    p {
        margin-bottom: (36/18 * 1rem);
        line-height: (27/18);
    }

    a {
        color: $white;
    }
    
    &__container {
        @extend .container;
        @include col-md-spacing(86);
        padding-top: (90/18 * 1rem);
        padding-bottom: (86/18 * 1rem);
    }

    &__social {

    }

    &__social-links {

        > ul {
            @include reset-list();

            > li {
                display: inline-block;
                margin-right: (20/18 * 1rem);

                &:last-child {
                    margin-right: 0;
                }

                > a {
                    @include no-link-underline();
                    display: inline-block;
                    width: (46/18 * 1rem);
                    height: (46/18 * 1rem);
                    text-indent: -999em;
                    border-radius: $border-radius;
                    background-color: transparent;
                    background-repeat: no-repeat;
                    background-position: center center;

                    &:hover,
                    &:focus {
                        background-color: $yellow;
                    }
                }

                &.medium > a {
                    background-image: url("../images/social-icons/medium.svg");
                    background-size: (32/18 * 1rem) (26/18 * 1rem);
                }

                &.facebook > a {
                    background-image: url("../images/social-icons/facebook.svg");
                    background-size: (30/18 * 1rem) (30/18 * 1rem);
                }

                &.linkedin > a {
                    background-image: url("../images/social-icons/linkedin.svg");
                    background-size: (30/18 * 1rem) (30/18 * 1rem);
                }

                &.instagram > a {
                    background-image: url("../images/social-icons/instagram.svg");
                    background-size: (30/18 * 1rem) (30/18 * 1rem);
                }

                &.twitter > a {
                    background-image: url("../images/social-icons/twitter.svg");
                    background-size: (30/18 * 1rem) (25/18 * 1rem);
                }
            }
        }
    }

    &__contact {

    }

    &__link-wrapper {
        padding-top: (3/18 * 1rem);
    }

    &__link {
        position: relative;
        font-size: (22/18 * 1rem);
        font-weight: 700;

        &--email {
            margin-left: (53/18 * 1rem);

            &:before {
                content: "";
                display: inline-block;
                width: (34/18 * 1rem);
                height: (24/18 * 1rem);
                background: url("../images/icons/envelope.svg") no-repeat left top;
                position: absolute;
                top: (2/18 * 1rem);
                left: (-53/18 * 1rem);
            }

            &:after {
                bottom: (-3/18 * 1rem);
            }
        }
    }
}
