
.footer {
    margin-top: (124/18 * 1rem);
    background: $white;
    font-size: (13/18 * 1rem);
    font-weight: 600;
    text-transform: uppercase;
    
    &__container {
        @extend .container;
        padding-top: (24/18 * 1rem);
        padding-bottom: (26/18 * 1rem);
    }

    &__copyright,
    &__links {
        padding-top: (5/18 * 1rem);

        @include media-breakpoint-down(md) {
            padding-top: 0;
        }
    }

    &__copyright {

    }

    &__links {

        > ul {
            @include reset-list();

            > li {
                display: inline-block;

                &:after {
                    content: "  | ";
                    white-space: pre;
                }

                &:last-child {

                    &:after {
                        content: "";
                    }
                }

                > a {
                    @include no-link-underline();
                    color: $black;

                    &:hover,
                    &:focus {
                        color: $red;
                    }
                }
            }
        }
    }

    &__by-upstart {
        @include no-link-underline();
        display: inline-block;
        width: (124/18 * 1rem);
        // width: 124px;
        height: (22/18 * 1rem);
        // height: 22px;
        background: url("../images/by-upstart-black.svg") no-repeat left top;
        text-indent: -999em;
        margin-top: (5/18 * 1rem);
    }
}
