
.goal {
    margin-top: (97/18 * 1rem);
    margin-bottom: (133/18 * 1rem);
    
    &__container {
        @extend .container;
    }

    &__inner {
        position: relative;
    }

    &__box {
        background: $yellow;
        width: (425/18 * 1rem);
        height: (220/18 * 1rem);
        position: absolute;
        top: (-30/18 * 1rem);
        left: (-30/18 * 1rem);
        z-index: 1;

        &--alt {
            width: (541/18 * 1rem);
            height: (340/18 * 1rem);
            top: (50/18 * 1rem);
        }

        @include media-breakpoint-down(md) {
            max-width: 100%;
        }
    }

    &--right .goal__box {
        width: (425/18 * 1rem);
        height: (462/18 * 1rem);
        top: auto;
        bottom: (-30/18 * 1rem);
        left: auto;
        right: (-30/18 * 1rem);

        &--alt {
            width: (557/18 * 1rem);
            height: (295/18 * 1rem);
        }
    }

    &__image-wrapper {
        width: (706/18 * 1rem);
        height: (531/18 * 1rem);
        position: relative;
        z-index: 2;
        background: $white;
        overflow: hidden;

        @include media-breakpoint-down(md) {
            max-width: 100%;
        }
    }

    &--right .goal__image-wrapper {
        margin-left: auto;
        margin-right: 0;
    }

    &__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__card {
        @include clear-content-margins();
        padding: (35/18 * 1rem) (38/18 * 1rem);
        background: $white;
        width: (580/18 * 1rem);
        position: absolute;
        top: (150/18 * 1rem);
        left: (530/18 * 1rem);
        z-index: 3;

        @include media-breakpoint-down(md) {
            max-width: 100%;
            left: (30/18 * 1rem);
        }
    }

    &--right .goal__card {
        left: auto;
        right: (530/18 * 1rem);
        text-align: right;

        @include media-breakpoint-down(md) {
            right: (30/18 * 1rem);
        }
    }

    &__heading {
        @include heading-underline($height: 8, $offset: -3, $bottom: 1);
        margin-bottom: (12/18 * 1rem);
        font-size: (24/18 * 1rem);
        font-weight: 700;
    }

    &__text {

    }
}
