.header {
    background: $white;
    position: relative;

    @include media-breakpoint-down(md) {
        display: none !important;
    }

    &__container {
        @extend .container;
        display: flex;
        height: (100/18 * 1rem);
        justify-content: space-between;
    }

    &__logo-wrapper {
        align-items: center;
        display: flex;
    }

    &__logo {
    }

    &__main-menu {
    }
}
