
.heading {
    margin-top: (91/18 * 1rem);
    margin-bottom: (87/18 * 1rem);

    &__container {
        @extend .container;
    }
    
    &__heading-wrapper {
        text-align: center;
    }

    &__heading,
    &__multi-line-heading {
        margin-bottom: 0;
        font-size: (40/18 * 1rem);
        font-weight: 700;
    }

    &__heading {
        @include heading-underline();
    }

    &__multi-line-heading {
        @include heading-multi-line-underline();
        margin-top: (-10/18 * 1rem);
        margin-bottom: (-10/18 * 1rem);
        line-height: 1.8;
    }

    &__subheading-wrapper {
        padding-top: 11px;
        text-align: center;
    }

    &__subheading {
        margin-bottom: 0;
        font-size: (22/18 * 1rem);
        font-weight: 400;
    }
}
