
.image {
    margin-top: (95/18 * 1rem);
    margin-bottom: (91/18 * 1rem);
    
    &__container {
        @extend .container;
    }

    &__image-wrapper {

    }

    &__image {
        @include img-fluid();
        width: 100%;
    }
}
