
.insights {
    margin-top: (82/18 * 1rem);
    margin-bottom: (82/18 * 1rem);
    
    &__container {
        @extend .container;
    }

    &__items {
        
    }

    &__link-wrapper {
        text-align: center;
    }

    &__link {

    }

    &__spinner-wrapper {
        display: flex;
        justify-content: center;
    }

    &__spinner {

    }
}
