
.insights-preview {
    
    &__header {
        margin-bottom: (49/18 * 1rem);
    }

    &__heading {
        @include heading-underline();
        margin-bottom: (6/18 * 1rem);
        font-size: (40/18 * 1rem);
        font-weight: 700;
    }

    &__subheading {
        margin-bottom: 0;
        font-size: (22/18 * 1rem);
        font-weight: 400;
    }

    &__content {
        margin-bottom: (50/18 * 1rem);
    }

    &__item {
        @include no-link-underline();
        display: flex;
        align-items: flex-start;
        color: $black !important;
        margin-bottom: (40/18 * 1rem);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item-image-wrapper {
        display: block;
        position: relative;
        width: (160/18 * 1rem);
        margin-right: (30/18 * 1rem);

        // @include media-breakpoint-down(md) {
        //     width: (80/18 * 1rem);
        // }
    }

    &__item-image-box {
        @include img-fluid();
        display: block;
        background: $yellow;
        position: absolute;
        top: (-20/18 * 1rem);
        left: (-20/18 * 1rem);
        width: (128/18 * 1rem);
        height: (109/18 * 1rem);
        z-index: 1;

        // @include media-breakpoint-down(md) {
        //     top: (-10/18 * 1rem);
        //     left: (-10/18 * 1rem);
        //     width: (64/18 * 1rem);
        //     height: (54/18 * 1rem);
        // }
    }

    &__item:nth-child(even) .insights-preview__item-image-box {
        top: (26/18 * 1rem);

        // @include media-breakpoint-down(md) {
        //     top: (13/18 * 1rem);
        // }
    }

    &__item-image {
        display: block;
        width: (160/18 * 1rem);
        height: (160/18 * 1rem);
        object-fit: cover;
        position: relative;
        z-index: 2;

        // @include media-breakpoint-down(md) {
        //     width: (80/18 * 1rem);
        //     height: (80/18 * 1rem);
        // }
    }

    &__item-content {
        display: block;
        flex: 1;
    }

    &__item-heading {
        display: block;
        margin-top: (-6/18 * 1rem);
        margin-bottom: (7/18 * 1rem);
        font-size: (24/18 * 1rem);
        font-weight: 700;
        transition: all .3s ease-out;
    }

    &__item {

        &:hover,
        &:focus {

            .insights-preview__item-heading {
                color: $yellow;
            }
        }
    }

    &__item-text {
        display: block;
        margin-bottom: 0;
        font-size: (16/18 * 1rem);
        line-height: (24/16);
    }

    &__button-wrapper {

    }

    &__button {
        
    }
}
