
.inside-facebook {
    
    &__header {
        margin-bottom: (12/18 * 1rem);
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__link {
        @include no-link-underline();
        display: flex;
        color: $black !important;
        // line-height: (30/18 * 1rem);
        line-height: 30px;
    }

    &__icon {
        display: inline-block;
        // width: (30/18 * 1rem);
        width: 30px;
        // height: (30/18 * 1rem);
        height: 30px;
        background-color: transparent;
        background-image: url("../images/inside/facebook-icon.svg");
        background-repeat: no-repeat;
        background-position: center center;
        text-indent: -999em;
        vertical-align: middle;
        margin-right: (10/18 * 1rem);
    }

    &__username {
        display: inline-block;
        font-size: (16/18 * 1rem);
        font-weight: 600;
    }

    &__date {
        font-size: (14/18 * 1rem);
    }

    &__content {
        display: flex;
        border: 2px solid #f4f4f4;
        border-radius: $border-radius;
        overflow: hidden;
    }

    &__text-wrapper {
        @include clear-content-margins();
        flex: 1;
        padding: (17/18 * 1rem) (24/18 * 1rem);
        font-size: (16/18 * 1rem);
        line-height: (24/16);
    }

    &__text {
        margin-bottom: 0;
    }

    &__addon {
        @include clear-content-margins();
        margin-top: (14/18 * 1rem);
    }

    &__addon-link-wrapper {

    }

    &__addon-link {
        color: $red !important;
        font-weight: 600;
    }

    &__addon-description {

    }

    &__image-wrapper {
        width: 30.91%;
        // width: 30%;
    }

    &__image {
        @include img-fluid();
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
