
.inside-event {
    @include no-link-underline();
    display: block;
    color: $black !important;
    
    &__image-wrapper {

    }

    &__image {
        @include img-fluid();
        display: block;
        width: 100%;
        height: 160px;
        object-fit: cover;
    }

    &__content {
        display: flex;
    }

    &__date-wrapper {
        @include clear-content-margins();
        background: $yellow;
        color: $white;
        font-size: (24/18 * 1rem);
        font-weight: 700;
        line-height: (27/24);
        flex: 0 0 (95/18 * 1rem);
        width: (95/18 * 1rem);
        height: (95/18 * 1rem);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        &--red {
            background: $red;
        }
    }

    &__date {
        margin-bottom: 0;
    }

    &__title-wrapper {
        @include clear-content-margins();
        padding-left: (20/18 * 1rem);
        padding-right: (20/18 * 1rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        margin-bottom: 0;
        font-size: (20/18 * 1rem);
        font-weight: 700;
    }

    &__subtitle {
        margin-bottom: 0;
        font-size: (16/18 * 1rem);
        font-weight: 600;
    }
}
