
.inside-instagram {
    width: 100%;
    height: 100%;

    &__link {
        @include no-link-underline();
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .3s ease;
    }

    &__link:hover .inside-instagram__image,
    &__link:focus .inside-instagram__image {
        transform: scale(1.1);
    }
}
