.insight {
    align-items: flex-start;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    margin-bottom: (50/18 * 1rem);
    padding-bottom: (50/18 * 1rem);

    // @include media-breakpoint-down(md) {
    //     display: block;
    // }

    &:last-child {
        border-bottom: 0;
    }

    &__media {
        margin-right: (28/18 * 1rem);
        width: 25%;

        @include media-breakpoint-down(md) {
            // width: auto;
            width: 25%;
            // margin-right: 0;
            // margin-bottom: (28/18 * 1rem);
        }
    }

    &__image-wrapper {
        height: 0;
        padding-top: 100%;
        position: relative;
        width: 100%;
    }

    &__image {
        @include img-fluid();
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        vertical-align: top;
        width: 100%;
    }

    &__content {
        flex: 1;
    }

    &__title {
        font-size: (24/18 * 1rem);
        font-weight: 700;
        margin-bottom: (16/18 * 1rem);
        margin-top: (-6/18 * 1rem);
    }

    &__description {
        margin-bottom: (20/18 * 1rem);
    }

    &__link-wrapper {
        font-size: (18/18 * 1rem);
        line-height: 1;
    }

    &__link {
        @include arrow-right-link();
        color: $black !important;
        font-weight: 600;
    }
}
