
.inside-follow {
    @include no-link-underline();
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: $white !important;
    font-size: (22/18 * 1rem);
    font-weight: 600;
    line-height: (24/22);

    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover,
    &:focus {
        text-decoration: underline !important;
    }

    &:after {
        content: "";
        display: block;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center center;
        text-indent: -999em;
        position: absolute;
        // bottom: (25/18 * 1rem);
        bottom: 25px;
        left: 50% !important;
    }

    &--instagram {
        background: rgb(254,129,63);
        background: -moz-linear-gradient(40deg, rgba(254,129,63,1) 0%, rgba(237,82,106,1) 25%, rgba(224,63,127,1) 50%, rgba(173,58,156,1) 75%, rgba(105,51,195,1) 100%);
        background: -webkit-linear-gradient(40deg, rgba(254,129,63,1) 0%, rgba(237,82,106,1) 25%, rgba(224,63,127,1) 50%, rgba(173,58,156,1) 75%, rgba(105,51,195,1) 100%);
        background: linear-gradient(40deg, rgba(254,129,63,1) 0%, rgba(237,82,106,1) 25%, rgba(224,63,127,1) 50%, rgba(173,58,156,1) 75%, rgba(105,51,195,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe813f",endColorstr="#6933c3",GradientType=1);

        &:after {
            // bottom: (23/18 * 1rem);
            bottom: 23px;
            // width: (80/18 * 1rem);
            width: 80px;
            // height: (23/18 * 1rem);
            height: 23px;
            // margin-left: (-40/18 * 1rem);
            margin-left: -40px;
            background-image: url("../images/inside/instagram-logo.svg");
        }
    }

    &--meetup {
        background: #ec1c40;

        &:after {
            // bottom: (21/18 * 1rem);
            bottom: 21px;
            // width: (80/18 * 1rem);
            width: 80px;
            // height: (29/18 * 1rem);
            height: 29px;
            // margin-left: (-40/18 * 1rem);
            margin-left: -40px;
            background-image: url("../images/inside/meetup-logo.svg");
        }
    }

    &--medium {
        background: #1c1b1a;

        &:after {
            // bottom: (30/18 * 1rem);
            bottom: 30px;
            // width: (80/18 * 1rem);
            width: 80px;
            // height: (16/18 * 1rem);
            height: 16px;
            // margin-left: (-40/18 * 1rem);
            margin-left: -40px;
            background-image: url("../images/inside/medium-logo.svg");
        }
    }

    &--facebook {
        background: #3d5194;

        &:after {
            // bottom: (30/18 * 1rem);
            bottom: 30px;
            // width: (80/18 * 1rem);
            width: 80px;
            // height: (16/18 * 1rem);
            height: 16px;
            // margin-left: (-40/18 * 1rem);
            margin-left: -40px;
            background-image: url("../images/inside/facebook-logo.svg");
        }
    }

    &--linkedin {
        background: #0177b5;

        &:after {
            // bottom: (30/18 * 1rem);
            bottom: 30px;
            // width: (80/18 * 1rem);
            width: 80px;
            // height: (20/18 * 1rem);
            height: 20px;
            // margin-left: (-40/18 * 1rem);
            margin-left: -40px;
            background-image: url("../images/inside/linkedin-logo.svg");
        }
    }

    &--eventbrite {
        background: #f05537;

        &:after {
            // bottom: (30/18 * 1rem);
            bottom: 30px;
            // width: (80/18 * 1rem);
            width: 80px;
            // height: (14/18 * 1rem);
            height: 14px;
            // margin-left: (-40/18 * 1rem);
            margin-left: -40px;
            background-image: url("../images/inside/eventbrite-logo.svg");
        }
    }

    &__text {
        // margin-bottom: (30/18 * 1rem);
        margin-bottom: 30px;
    }
}
