
.inside {
    margin-bottom: ($grid-gutter-width * -1);
    
    &__container {
        @extend .container;
    }

    &__tile {
        position: relative;
        margin-bottom: $grid-gutter-width;
        overflow: hidden;
        // background: $black;
        
        // Alternative with flex
        display: flex;

        &:before {
            content: "";
            display: block;
            padding-top: 100%; /* initial ratio of 1:1 */
        }

        &--ratio-2-1 {

            &:before {
                padding-top: calc(50% - #{$grid-gutter-width * 0.5});
            }
        }

        &--ratio-3-1 {

            &:before {
                padding-top: calc(33.33% - #{$grid-gutter-width * 0.66});
            }
        }

        &--ratio-custom,
        &--ratio-md-custom {

            &:before {
                padding-top: 72.86%;
            }
        }

        &--ratio-md-custom {

            &:before {

                @include media-breakpoint-down(md) {
                    padding-top: 0;
                }
            }
        }

        // &--ratio-none {

        //     &:before {
        //         content: none;
        //     }
        // }
    }

    &__tile-inner {
        // position: absolute;
        // top: 0;
        // bottom: 0;
        // left: 0;
        // right: 0;

        // Alternative with flex
        width: 100%;
    }

    // &__tile--ratio-none .inside__tile-inner {
    //     position: static;
    // }
}
