
.inside-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;

    &__inner {
        display: flex;
        align-items: flex-start;
    }

    &__media {
        width: 29.63%; // 160/540
        margin-right: $grid-gutter-width;
    }

    &__image-wrapper {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 100%;
    }

    &__image {
        @include img-fluid();
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        vertical-align: top;
        object-fit: cover;
    }

    &__content {
        flex: 1;
    }

    &__title {
        margin-top: (-6/18 * 1rem);
        margin-bottom: (7/18 * 1rem);
        font-size: (24/18 * 1rem);
        font-weight: 700;
    }

    &__description {
        margin-bottom: (24/18 * 1rem);
        font-size: (16/18 * 1rem);
        line-height: (24/16);
    }

    &__link-wrapper {
        font-size: (18/18 * 1rem);
        line-height: 1;
    }

    &__link {
        @include arrow-right-link();
        color: $black !important;
    }
}
