
.inside-twitter {

    &__header {
        margin-bottom: (12/18 * 1rem);
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__link {
        @include no-link-underline();
        display: flex;
        color: $black !important;
        // line-height: (25/18 * 1rem);
        line-height: 25px;
    }

    &__icon {
        display: inline-block;
        // width: (30/18 * 1rem);
        width: 30px;
        // height: (25/18 * 1rem);
        height: 25px;
        background-color: transparent;
        background-image: url("../images/inside/twitter-icon.svg");
        background-repeat: no-repeat;
        background-position: center center;
        text-indent: -999em;
        vertical-align: middle;
        margin-right: (10/18 * 1rem);
    }

    &__handle {
        display: inline-block;
        font-size: (16/18 * 1rem);
        font-weight: 600;
    }

    &__date {
        font-size: (14/18 * 1rem);
    }

    &__carousel {
        @include carousel-controls(#f4f4f4, 15px, 3px);

        .carousel {
            text-align: center;
            line-height: 30px;
        }

        .carousel-inner {
            margin-bottom: (27/18 * 1rem);
            text-align: left;
            line-height: initial;
        }

        .carousel-caption {
            position: initial;
            right: initial;
            bottom: initial;
            left: initial;
            z-index: initial;
            padding-top: 0;
            padding-bottom: 0;
            color: inherit;
            text-align: initial;
        }

        .carousel-control-prev,
        .carousel-control-next {
            position: initial;
            top: initial;
            bottom: initial;
            z-index: initial;
            display: initial;
            align-items: initial;
            justify-content: initial;
            width: initial;
            color: initial;
            text-align: initial;

            display: inline-block;
            opacity: 1;
        }

        .carousel-control-prev {

        }

        .carousel-control-next {

        }

        .carousel-indicators {
            position: initial;
            right: initial;
            bottom: initial;
            left: initial;
            z-index: initial;
            display: initial;
            justify-content: initial;
            padding-left: initial;
            margin-right: initial;
            margin-left: initial;
            list-style: initial;

            @include reset-list();
            display: inline-block;
            white-space: nowrap;
            margin-left: 6px;
            margin-right: 6px;

            li {
                display: inline-block;
                width: 9px;
                height: 9px;
                margin: 9px 3px;
                background: #f4f4f4;
                border: 0;
                opacity: 1;
                border-radius: 999em;
                vertical-align: top;
            }

            .active {
                background: $yellow;
            }
        }
    }

    &__content {
        @include clear-content-margins();
        padding: (17/18 * 1rem) (24/18 * 1rem);
        border: 2px solid #f4f4f4;
        border-radius: $border-radius;
        font-size: (16/18 * 1rem);
        line-height: (24/16);
    }

    &__tweet {
        
    }
}
