.logo {
    @include no-link-underline();
    background: url("../images/ihubs-logo.svg") no-repeat left top;
    display: block;
    // height: (39/18 * 1rem);
    height: 39px;
    text-indent: -999em;
    // width: (240/18 * 1rem);
    width: 240px;

    &--white {
        background-image: url("../images/ihubs-logo-white.svg");
    }
}
