.main-menu {
    display: flex;

    > ul {
        @include reset-list();
        display: flex;

        > li {
            display: flex;
            margin-right: (26/18 * 1rem);

            &:last-child {
                margin-right: 0;
            }

            > a {
                @include no-link-underline();
                align-items: center;
                color: $black;
                display: flex;
                font-size: (14/18 * 1rem);
                font-weight: 700;
                text-transform: uppercase;

                &:hover,
                &:focus {
                    color: $red;
                }
            }

            &:hover,
            &:focus {
                > a {
                    color: $red;
                }
            }

            > .sub-menu-wrap {
                backdrop-filter: saturate(180%) blur(20px);
                background: rgba(255, 255, 255, 0.9);
                display: block;
                left: 0;
                opacity: 0;
                position: absolute;
                right: 0;
                top: 100%;
                transition: opacity 0.3s ease-in-out;
                visibility: hidden;
                z-index: $zindex-dropdown;

                > .sub-menu {
                    @extend .container;
                    display: grid;
                    gap: 1rem;
                    grid-template-columns: repeat(5, minmax(0, 1fr));
                    margin-bottom: (40/18 * 1rem);
                    margin-top: (32/18 * 1rem);

                    > li {
                        > a {
                            @include no-link-underline();
                            color: $black;
                            display: block;
                            font-size: (18/18 * 1rem);
                            font-weight: 700;
                            opacity: 0.5;
                            text-transform: uppercase;
                            transition: opacity 0.15s ease-in-out;

                            > .menu-item-description {
                                display: block;
                                font-size: (14/18 * 1rem);
                                font-weight: 600;
                                line-height: (19/14);
                                margin-top: (6/18 * 1rem);
                                text-transform: none;
                            }

                            &:hover,
                            &:focus {
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            &:hover,
            &:focus {
                > .sub-menu-wrap {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}
