
.mobile-menu-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $zindex-fixed + 2;

    &--hidden {
        display: none;
    }

    body.admin-bar & {
        top: 32px;

        @media (max-width: 782px) {
            top: 46px;
        }
    }

    &__burger-menu-close {
        position: absolute;
        top: (50/18 * 1rem);
        right: (50/18 * 1rem);
        z-index: 1;
        opacity: 1;
        transition: opacity .3s ease;
    }

    &--animating .mobile-menu-wrapper__burger-menu-close {
        opacity: 0;
    }

    &__layout {
        display: flex;
        width: 100%;
        height: 100%;
    }

    &__left {
        width: 60%;
        background: $red;
        color: $white;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__left-container {
        padding-top: (50/18 * 1rem);
        padding-bottom: ((50 + 44)/18 * 1rem);
        padding-left: (125/18 * 1rem);
        padding-right: (50/18 * 1rem);
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__logo {
        // width: (269/18 * 1rem);
        width: 269px;
        // height: (44/18 * 1rem);
        height: 44px;
        flex: none;
    }

    &__claim-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__claim {
        margin-bottom: 0;
        font-size: (64/18 * 1rem);
        font-weight: 700;
        line-height: (76/64);

        span {
            @include heading-underline(10, 0, 8);
        }
    }

    &__right {
        width: 40%;
        background: $yellow;
        color: $white;

        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    &__right-container {
        padding-left: (50/18 * 1rem);
        padding-right: (125/18 * 1rem);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include media-breakpoint-down(md) {
            padding-left: (95/18 * 1rem) !important;
            padding-right: (95/18 * 1rem) !important;
        }
    }

    &__mobile-menu {
        text-align: right;
    }
}
