
.mobile-header {
    background: $white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: $zindex-fixed;

    &--hidden {
        display: none;
    }

    @include media-breakpoint-down(md) {
        display: block !important;
        position: static !important;
        animation: none !important;
    }

    body.admin-bar & {
        top: 32px;

        @media (max-width: 782px) {
            top: 46px;
        }
    }
    
    &__container {
        @extend .container;
        @include clearfix();
        padding-top: (26/18 * 1rem);
        padding-bottom: (26/18 * 1rem);
    }

    &__logo {
        float: left;
        // width: (150/18 * 1rem);
        width: 150px;
        // height: (24/18 * 1rem);
        height: 24px;
    }

    &__burger-menu {
        float: right;
        margin-top: (4/18 * 1rem);
    }
}
