.mobile-menu {
    > ul {
        @include reset-list();

        > li {
            > a {
                color: $black;
                font-size: (30/18 * 1rem);
                font-weight: 700;
                line-height: (46/18 * 1rem);

                &:hover,
                &:focus {
                    color: $red;
                }
            }
        }
    }
}
