
.network {
    margin-top: (202/18 * 1rem);
    
    &__container {
        @extend .container;
    }

    &__header {
        margin-bottom: (45/18 * 1rem);
        text-align: center;
    }

    &__heading {
        @include heading-underline();
        margin-bottom: (6/18 * 1rem);
        font-size: (40/18 * 1rem);
        font-weight: 700;
    }

    &__subheading {
        margin-bottom: 0;
        font-size: (22/18 * 1rem);
        font-weight: 400;
    }

    &__logos {
        text-align: center;

        > .row {

            > [class*=col] {
                margin-bottom: (30/18 * 1rem);
            }
        }
    }

    &__logo {
        @include img-fluid();
    }

    &__button-wrapper {
        margin-top: (59/18 * 1rem);
        text-align: center;
    }

    &__button {

    }
}
