
.newsletter-modal {

    &__layout {
        display: flex;
    }

    &__content-wrapper {
        width: percentage(680/1230);

        @include media-breakpoint-down(lg) {
            width: 100%;
        }
    }

    .modal-content {
        display: block;

        .modal-body {
            position: relative;
            padding: (39/18 * 1rem) (53/18 * 1rem) (41/18 * 1rem);

            p {
                margin-bottom: (21/18 * 1rem);
                font-size: (14/18 * 1rem);
                font-weight: 400;
                line-height: (17/14);

                a {
                    font-weight: 700;
                }
            }

            ul {
                margin-top: (30/18 * 1rem);
                margin-bottom: (36/18 * 1rem);

                > li {
                    margin-left: (35/18 * 1rem);
                    margin-bottom: (20/18 * 1rem);
                    font-size: (16/18 * 1rem);
                    font-weight: 700;
                    line-height: (19/16);

                    &:before {
                        color: $red;
                        top: (2/18 * 1rem);
                        left: (35/18 * -1rem);
                    }
                }
            }
        }
    }

    &__close {
        @extend .close;
        font-size: 16px;
        opacity: 1;
        position: absolute;
        top: (20/18 * 1rem);
        right: (20/18 * 1rem);
    }

    &__heading {
        margin-bottom: (11/18 * 1rem);
        font-size: (24/18 * 1rem);
        font-weight: 700;
    }

    &__form {
        
        .row {
            margin-bottom: (12/18 * 1rem);

            .form-control {

            }
        }

        .custom-checkbox {
            margin-bottom: (21/18 * 1rem);

            .custom-control-label {
                font-size: (14/18 * 1rem);
                font-weight: 400;
                line-height: (17/14);
            }
        }
    }

    &__button-wrapper {
        margin-top: (26/18 * 1rem);
    }

    &__button {
        @extend .btn;
        @extend .btn-outline-primary
    }

    &__image-wrapper {
        width: percentage(550/1230);
        position: relative;

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    &__image {
        @include img-fluid();
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
