
.partners {
    margin-top: (74/18 * 1rem);
    margin-bottom: (61/18 * 1rem);
    text-align: center;
    
    &__container {
        @extend .container;

        > .row {

            > [class*=col] {
                margin-bottom: (30/18 * 1rem);
            }
        }
    }

    &__controls {
        margin-bottom: (30/18 * 1rem);
    }

    &__controls-button {
        @extend .btn;
        @extend .btn-link;
        padding-bottom: (9/18 * 1rem);
        padding-left: (20/18 * 1rem);
        padding-right: (20/18 * 1rem);
        padding-top: (9/18 * 1rem);
        font-size: (16/18 * 1rem);
        font-weight: 700;
        color: $black;
        text-transform: uppercase;
        text-decoration: none !important;

        &.active {
            color: $primary !important;
            transform: none !important;
        }
    }

    &__logos {
        margin-bottom: (30/18 * 1rem);
        min-height: 120px;
        position: relative;
        transition: all 0.3s ease;
    }

    &__logo-wrapper {
        align-items: center;
        display: flex;
        height: 120px;
        justify-content: center;
        left: 0;
        position: absolute;
        top: 0;
        transition: all 0.3s ease;
        width: 25%;

        @include media-breakpoint-down(sm) {
            height: 100px;
            width: 50%;
        }

        &.hidden {
            opacity: 0;
            visibility: hidden;
        }

        &.show {
            opacity: 1;
            visibility: visible;
        }
    }

    &__logo {
        @include img-fluid();
    }
}
