
.person {
    text-align: center;
    font-family: $font-family-sans-serif-alt-2;

    a {
        color: $black !important;
    }
    
    &__photo-wrapper {
        margin-bottom: (27/18 * 1rem);
    }

    &__photo {

    }

    &__content {
        @include clear-content-margins();
    }

    &__name {
        margin-bottom: (1/18 * 1rem);
        font-size: (22/18 * 1rem);
        font-weight: 500;
    }

    &__position {
        margin-bottom: (14/18 * 1rem);
        font-size: (18/18 * 1rem);
        font-weight: 400;
    }

    &__contact {
        font-size: (16/18 * 1rem);
        font-weight: 400;
        line-height: (23/16);
    }
}
