
.plan-details-intro {
    display: flex;
    align-items: flex-start;

    @include media-breakpoint-down(md) {
        display: block;
    }
    
    &__carousel-wrapper {
        width: 38%;
        margin-right: (50/18 * 1rem);

        @include media-breakpoint-down(md) {
            width: auto;
            margin-right: 0;
            margin-bottom: (50/18 * 1rem);
        }

        .carousel-item img {
            width: 100%;
        }

        .carousel-indicators {
            position: initial;
            margin-bottom: 0;
            padding-top: (20/18 * 1rem);

            li {
                margin: 0 (5/18 * 1rem);
                padding: 0;
                border: 0;
                border-radius: 999em;
                opacity: 1;
                background: #f4f4f4;
                width: (9/18 * 1rem);
                height: (9/18 * 1rem);
            }

            .active {
                background: $yellow;
            }
        }
    }

    &__content {
        flex: 1;
    }

    &__heading {
        @include heading-underline($height: 9, $offset: -4, $bottom: 3);
        margin-top: (-8/18 * 1rem);
        margin-bottom: (14/18 * 1rem);
        font-size: (32/18 * 1rem);
        font-weight: 700;
    }

    &__text {
        margin-bottom: 0;
        font-size: (18/18 * 1rem);
        line-height: (27/18);
    }
}
