
.plan-details {
    margin-top: (106/18 * 1rem);

    + .plan-details {
        margin-top: 0;
        
        .plan-details__container {

            &:before {
                content: "";
                display: block;
                background: #e4e4e4;
                width: auto;
                height: (1/18 * 1rem);
                margin-top: (151/18 * 1rem);
                margin-bottom: (151/18 * 1rem);
                margin-left: 17%;
                margin-right: 17%;
            }
        }
    }
    
    &__container {
        @extend .container;
    }

    &__intro {
        margin-bottom: (50/18 * 1rem);
    }

    &__accordion {
        margin-bottom: (68/18 * 1rem);
    }

    &__benefits {
        margin-bottom: (61/18 * 1rem);
    }

    &__partners {
        margin-top: (111/18 * 1rem);
        margin-bottom: (114/18 * 1rem);
    }

    &__cta {

    }
}
