
.plan-details-cta {
    text-align: center;
    
    &__heading {
        margin-bottom: (26/18 * 1rem);
        font-size: (24/18 * 1rem);
        font-weight: 600;
    }

    &__button-wrapper {

    }

    &__button {
        padding-top: (5/18 * 1rem);
        padding-bottom: (9/18 * 1rem);
        padding-left: (30/18 * 1rem);
        padding-right: (30/18 * 1rem);
        font-size: (30/18 * 1rem);
        font-weight: 700;
        border-radius: $border-radius;
    }
}
