
.plan-details-benefit {
    position: relative;
    margin-left: (45/18 * 1rem);
    margin-bottom: (38/18 * 1rem);

    &:before {
        @include black-tie();
        content: "\f012";
        font-size: (22/18 * 1rem);
        font-weight: 700;
        color: $yellow;
        position: absolute;
        top: (4/18 * 1rem);
        left: (-45/18 * 1rem);
    }
    
    &__heading {
        margin-bottom: (8/18 * 1rem);
        font-size: (24/18 * 1rem);
        font-weight: 600;
    }

    &__text {
        margin-bottom: 0;
        font-size: (18/18 * 1rem);
        font-weight: 400;
        line-height: (27/18);
    }
}
