
.plan-details-partners {
    text-align: center;
    
    &__heading {
        margin-bottom: (45/18 * 1rem);
        font-size: (24/18 * 1rem);
        font-weight: 600;
    }

    &__logos {

        > .row {

            > [class*=col] {
                margin-bottom: (30/18 * 1rem);
            }
        }
    }

    &__logo {
        @include img-fluid();
    }
}
