
.plan {
    text-align: center;
    border-radius: $border-radius $border-radius 0 0;
    overflow: hidden;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    background: $white;
    transition: all .3s ease;

    &:hover,
    &:focus {
        transform: scale(1.1);
        z-index: 1;
    }
    
    &__label-wrapper {
        font-size: (14/18 * 1rem);
        line-height: 1;
        position: absolute;
        top: (20/18 * 1rem);
        right: (20/18 * 1rem);
    }

    &__label {
        display: inline-block;
        background: $yellow;
        border-radius: 999em;
        color: $white;
        text-transform: uppercase;
        font-weight: 700;
        padding-top: (5/18 * 1rem);
        padding-bottom: (5/18 * 1rem);
        padding-left: (11/18 * 1rem);
        padding-right: (11/18 * 1rem);
    }

    &__content {
        padding-top: (45/18 * 1rem);
        padding-bottom: (31/18 * 1rem);
        padding-left: (40/18 * 1rem);
        padding-right: (40/18 * 1rem);
    }

    &--emphasize .plan__content {
        padding-top: (36/18 * 1rem);
    }

    &__heading {
        @include heading-underline($height: 8, $offset: -2, $bottom: 1);
        margin-bottom: (37/18 * 1rem);
        font-size: (24/18 * 1rem);
        font-weight: 700;
    }

    &--emphasize .plan__heading {
        @include heading-underline($height: 9, $offset: -3, $bottom: 2);
        font-size: (32/18 * 1rem);
    }

    &__text {
        margin-bottom: (25/18 * 1rem);
        font-size: (16/18 * 1rem);
        line-height: (24/16);
    }

    &--emphasize .plan__text {
        margin-bottom: (47/18 * 1rem);
    }

    &--emphasize .plan__text {
        font-size: (18/18 * 1rem);
        line-height: (24/18);
    }

    &__button-wrapper {

    }

    &__button {

    }

    &__link-wrapper {

    }

    &__link {
        @include find-out-more-link();
    }

    &__link-arrow {
        @include link-arrow();
    }
}
