
.plans {
    margin-top: (95/18 * 1rem);
    margin-bottom: (119/18 * 1rem);
    background-image: url("../images/pattern.png");
    background-image: image-set(
        url("../images/pattern.png") 1x,
        url("../images/pattern@2x.png") 2x,
    );
    background-position: left top;
    background-repeat: repeat;
    
    &__container {
        @extend .container;
        @include col-md-spacing(30);
        padding-top: (71/18 * 1rem);
        padding-bottom: (71/18 * 1rem);
    }

    &__note {
        margin-top: (16/18 * 1rem);
        text-align: center;
        border-radius: $border-radius $border-radius 0 0;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
        position: relative;
        background: $white;
        transition: all .3s ease;
        font-weight: 600;
        font-size: (18/18 * 1rem);
        padding: (27/18 * 1rem) (40/18 * 1rem) (30/18 * 1rem);

        &:hover,
        &:focus {
            transform: scale(1.05);
            z-index: 1;
        }
    }
}
