
.services {
    margin-top: (104/18 * 1rem);
    margin-bottom: (58/18 * 1rem);
    
    &__container {
        @extend .container;

        > .row {

            > [class*=col] {
                margin-bottom: (30/18 * 1rem);
            }
        }
    }
}
