
.service {
    text-align: center;
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    padding-bottom: (71/18 * 1rem);
    height: (371/18 * 1rem);
    transition: height .3s ease;
    
    &__content {
        padding-top: (50/18 * 1rem);
        padding-bottom: (43/18 * 1rem);
        padding-left: (25/18 * 1rem);
        padding-right: (25/18 * 1rem);
    }

    &__icon-wrapper {
        margin-bottom: (22/18 * 1rem);
        min-height: (53/18 * 1rem);
    }

    &__icon {
        @include img-fluid();
    }

    &__heading {
        @include heading-underline($height: 8, $offset: -5, $bottom: 1);
        margin-bottom: (32/18 * 1rem);
        font-size: (24/18 * 1rem);
        font-weight: 700;
    }

    &__text {
        margin-bottom: 0;
        font-size: (16/18 * 1rem);
        line-height: (24/16);
    }

    &__content-expanded {
        @include clear-content-margins();
        font-size: (16/18 * 1rem);
        line-height: (24/16);
        padding-top: (5/18 * 1rem);
        padding-bottom: (44/18 * 1rem);
        padding-left: (25/18 * 1rem);
        padding-right: (25/18 * 1rem);
    }

    &__link-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
    }

    &__link {
        @include find-out-more-link();
    }

    &__link-arrow {
        @include link-arrow();
    }
}
