
.teaser {
    text-align: center;
    
    &__container {
        @extend .container;
    }

    &__content {
        @include clear-content-margins();
    }

    &__cta-wrapper {
        margin-top: (41/18 * 1rem);
    }

    &__cta {

    }
}
