
.testimonials {
    @include carousel-controls($yellow);
    margin-top: (196/18 * 1rem);
    margin-bottom: (188/18 * 1rem);
    background-image: url("../images/pattern.png");
    background-image: image-set(
        url("../images/pattern.png") 1x,
        url("../images/pattern@2x.png") 2x,
    );
    background-position: left top;
    background-repeat: repeat;

    &__container {
        @extend .container;
        padding-top: (103/18 * 1rem);
        padding-bottom: (139/18 * 1rem);
    }

    .carousel-image-placeholder {

    }
    
    .carousel-caption {
        position: initial;
        right: initial;
        bottom: initial;
        left: initial;
        z-index: initial;
        padding-top: 0;
        padding-bottom: 0;
        color: inherit;

        .blockquote {
            margin-bottom: 0;
            padding: (51/18 * 1rem) (60/18 * 1rem) (25/18 * 1rem);
            background: $white;
            position: relative;
            border-radius: $border-radius;
            box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);

            &:before,
            &:after {
                content: "";
                font-family: $font-family-serif;
                font-weight: 700;
                font-style: italic;
                color: $red;
                font-size: (180/18 * 1rem);
                position: absolute;
            }

            &:before {
                content: "“";
                top: (-100/18 * 1rem);
                left: (10/18 * 1rem);
            }

            &:after {
                content: "”";
                bottom: (-200/18 * 1rem);
                right: (20/18 * 1rem);
            }

            p {
                font-family: $font-family-serif;
                font-weight: 300;
                font-style: italic;
                margin-bottom: 0;
                font-size: (18/18 * 1rem);
                line-height: (35/18);
            }
        }

        .blockquote-footer {
            margin-top: (31/18 * 1rem);
            font-size: (16/18 * 1rem);
            font-weight: 600;
            color: $yellow;

            &:before {
                content: none;
            }
        }
    }
}
