
.text {
    
    &__container {
        @extend .container;

        > .row {

            > [class*=col] {
                @include clear-content-margins();
                margin-bottom: (30/18 * 1rem);
            }
        }
    }
}
