
.top-bar-menu {
    
    > ul {
        @include reset-list();

        > li {
            display: inline-block;
            margin-right: (15/18 * 1rem);

            &:last-child {
                margin-right: 0;
            }

            > a {
                @extend .btn;
                @extend .btn-outline-light;
            }
        }
    }
}
