
.top-bar {
    background: $red;
    color: $white;

    &__container {
        @extend .container;
        padding-top: (15/18 * 1rem);
        padding-bottom: (15/18 * 1rem);
    }

    &__text {
        font-style: italic;
        font-weight: 600;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__top-bar-menu {
        text-align: right;
    }
}
