
.verticals {
    margin-top: (188/18 * 1rem);
    margin-bottom: (202/18 * 1rem);
    
    &__container {
        @extend .container;
    }

    &__header {
        margin-bottom: (71/18 * 1rem);
        text-align: center;
    }

    &__heading {
        @include heading-underline();
        margin-bottom: (6/18 * 1rem);
        font-size: (40/18 * 1rem);
        font-weight: 700;
    }

    &__subheading {
        margin-bottom: 0;
        font-size: (22/18 * 1rem);
        font-weight: 400;
    }

    &__content {
        text-align: center;

        > .row {

            > [class*=col] {
                margin-bottom: (80/18 * 1rem);
            }
        }
    }

    &__icon-wrapper {
        margin-bottom: (12/18 * 1rem);
        min-height: (76/18 * 1rem);
        line-height: (76/18 * 1rem);
    }

    &__icon {

    }

    &__title {
        font-size: (22/18 * 1rem);
        font-weight: 600;
    }
}
