
@mixin arrow-right-link {
    @include no-link-underline();

    &:after {
        content: "";
        display: inline-block;
        margin-left: (10/18 * 1rem);
        width: 32px;
        height: 18px;
        background-image: url("../images/icons/arrow-right.png");
        background-image: image-set(
            url("../images/icons/arrow-right.png") 1x,
            url("../images/icons/arrow-right@2x.png") 2x,
        );
        background-position: right center;
        background-repeat: no-repeat;
        vertical-align: middle;
        position: relative;
        top: -1px;
        transition: width .15s ease-out;
    }

    &:hover,
    &:focus {

        &:after {
            width: 52px;
        }
    }
}
