
@mixin black-tie {
    display: inline-block;
    font: normal normal normal 14px/1 "Black Tie";
    font-size: inherit;
    vertical-align: -14.28571429%;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
