
@mixin carousel-controls($background: $white, $width: 24px, $height: 4px) {
    
    .carousel-control-prev,
    .carousel-control-next {
        @include no-link-underline();

        &:hover,
        &:focus {
            opacity: 1;
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            width: $width;
            height: $width;
            line-height: $width;
            background: transparent;
            position: relative;

            &:before,
            &:after {
                content: "";
                position: absolute;
                background: $background;
            }

            &:before {
                top: 0;
                left: 0;
                width: $width;
                height: $height;
            }

            &:after {
                top: 0;
                left: 0;
                width: $height;
                height: $width;
            }
        }

        .carousel-control-prev-icon {
            transform: rotate(-45deg);
        }

        .carousel-control-next-icon {
            transform: rotate(45deg);

            &:after {
                left: auto;
                right: 0;
            }
        }
    }
}
