
@mixin col-md-spacing($spacing) {
    
    > .row {

        > [class*=col] {

            @include media-breakpoint-down(sm) {
                margin-bottom: ($spacing/18 * 1rem);

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
