
@mixin find-out-more-link {
    @include no-link-underline();
    display: block;
    background: #f9f9f9;
    font-size: (15/18 * 1rem);
    font-weight: 600;
    color: $black !important;
    padding-top: (23/18 * 1rem);
    padding-bottom: (23/18 * 1rem);
    text-align: center;

    &--red {
        background: $red;
        color: $white !important;
    }
}
