
@mixin heading-underline($height: 15, $offset: -5, $bottom: 2) {
    display: inline-block;
    position: relative;
    z-index: 1;

    &:after {
        content: "";
        display: block;
        background: $yellow;
        height: ($height/18 * 1rem);
        position: absolute;
        bottom: ($bottom/18 * 1rem);
        left: ($offset/18 * 1rem);
        right: ($offset/18 * 1rem);
        z-index: -1;
    }
}
