
@mixin link-arrow {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    top: -1px;
    margin-left: (12/18 * 1rem);
    transform: rotate(-135deg);
    transition: all .3s ease;

    &:before,
    &:after {
        content: "";
        display: block;
        background: $yellow;
        position: absolute;
        top: 0;
        left: 0;
    }

    &--white {

        &:before,
        &:after {
            background: $white;
        }
    }

    &:before {
        width: 15px;
        height: 3px;
    }

    &:after {
        width: 3px;
        height: 15px;
    }

    .open & {
        top: 7px;
        transform: rotate(45deg);
    }
}
