
@mixin link-underline {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        bottom: (-2/18 * 1rem);
        left: (1/18 * 1rem);
        right: 100%;
        height: (2/18 * 1rem);
        transition: all .3s ease-out;

        background: $yellow;
    }

    &:hover,
    &:focus,
    &.active {
        text-decoration: none;

        &:after {
            left: (1/18 * 1rem);
            right: (1/18 * 1rem);
        }
    }
}
