
@mixin no-link-underline {

    &:after {
        content: none;
        position: initial;
        bottom: initial;
        left: initial;
        right: initial;
        height: initial;
        transition: initial;
        background: initial;
    }

    &:hover,
    &:focus,
    &.active {
        text-decoration: initial;

        &:after {
            left: initial;
            right: initial;
        }
    }
}
