
@mixin reset-list {
    @include list-unstyled();
    margin-bottom: 0;
    font-weight: inherit;

    li {
        position: initial;
        margin-bottom: 0;
        margin-left: 0;

        &:before {
            content: none;
            font-weight: inherit;
            color: inherit;
            position: initial;
            top: initial;
            left: initial;
        }
    }
}
