
* {
    -webkit-font-smoothing: antialiased;
}

::selection {
    background: $red;
    color: $white;
}

html {
    margin-top: 0;
    font-size: 112.5%;

    @include media-breakpoint-down(md) {
        font-size: 87.5%;
    }
}

#page {
    overflow: hidden;
}

.animated {
    animation-duration: .3s;
}

// WordPress
#wpadminbar {

    a {
        @include no-link-underline();
    }
}

.wp-block-column {
    @extend .mb-5;

    .mb-5 {
        margin-bottom: 0 !important;
    }
}
