
a {
    @include link-underline();
    transition: all .3s ease-out;

    &.btn {
        @include no-link-underline();
    }
}

p {

    &.lead {
        line-height: (36/24);
    }
}

ol,
ul,
dl {
    margin-bottom: $paragraph-margin-bottom;
}

ol,
ul {
    @include list-unstyled();
    font-weight: 600;

    li {
        position: relative;
        margin-bottom: (10/18 * 1rem);
        margin-left: (40/18 * 1rem);

        &:before {
            @include black-tie();
            content: "";
            font-weight: 700;
            color: $yellow;
            position: absolute;
            top: (7/18 * 1rem);
            left: (-40/18 * 1rem);
        }
    }
}

ol li:before {
    content: "\f09b";
}

ul:not(.check):not(.times) li:before {
    width: (5/18 * 1rem);
    height: (5/18 * 1rem);
    background: $yellow;
    border-radius: 999em;
    top: (12/18 * 1rem);
    left: (-25/18 * 1rem);
}

ol.check li:before,
ul.check li:before {
    content: "\f012";
}

ol.times li:before,
ul.times li:before {
    content: "\f00d";
    font-weight: 900;
}

figure {
    margin-bottom: $paragraph-margin-bottom;
}

.btn {
    padding-top: (7/18 * 1rem);
    text-transform: uppercase;
}

.btn-lg {
    border-width: 3px;
}

.custom-control-label::before {
    border-color: $black;
}

.custom-control-label::before,
.custom-control-label::after {
    width: (14/18 * 1rem);
    height: (14/18 * 1rem);
    top: (1/18 * 1rem);
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
}

.nav-tabs {
    @include reset-list();

    .nav-item {
        margin-right: (8/18 * 1rem);
    }

    .nav-link {
        @include no-link-underline();
        font-weight: 600;
        color: $black;
        border-color: $nav-tabs-border-color;
        background-color: #f3f3f3;

        &.active {

        }
    }
}

.tab-content {
    border: $nav-tabs-border-width solid $nav-tabs-border-color;
    border-top: 0;
    border-radius: 0 0 $nav-tabs-border-radius $nav-tabs-border-radius;
    padding: (30/18 * 1rem) (38/18 * 1rem);

    > .tab-pane {
        @include col-md-spacing(30);

        > .row {

            > [class*=col] {
                @include clear-content-margins();
            }
        }
    }
}

.clear-content-margins {
    @include clear-content-margins();
}

// WordPress
.wp-block-image {
    margin-bottom: $paragraph-margin-bottom;

    img {

    }

    figcaption {
        margin-top: (9/18 * 1rem);
        margin-bottom: 0;
        font-size: $figure-caption-font-size;
        color: $figure-caption-color;
        text-align: inherit;
    }
}

// Editor resets
ol.acf-hl,
ul.acf-hl {

    > li {
        margin-left: 0;

        &:before {
            display: none;
        }
    }
}

.acf-button {

    &:after {
        display: none;
    }
}
