
$bt-font-path: "../fonts/black-tie/fonts";
$ff-mark-pro-font-path: "../fonts/FF-Mark-Pro/fonts";

$red: #e52321;
$yellow: #fcbb12;
$white: #fff;
$black: #000;

$primary: $red;
$dark: $black;

$spacer: (18/18 * 1rem);

$body-bg: $white;
$body-color: $black;

$link-color: $primary;
$link-hover-color: $link-color;

$paragraph-margin-bottom: (30/18 * 1rem);

$font-family-sans-serif: "FF Mark Pro", sans-serif;
$font-family-sans-serif-alt: "Roboto", sans-serif;
$font-family-sans-serif-alt-2: "Montserrat", sans-serif;
$font-family-serif: "Merriweather", serif;

$font-size-base: (18/18 * 1rem);

$line-height-base: (30/18);

$lead-font-size: (24/18 * 1rem);
$lead-font-weight: 400;

$border-radius: 10px;

$btn-padding-y: (6/18 * 1rem);
$btn-padding-x: (17/18 * 1rem);
$btn-font-size: (14/18 * 1rem);
$btn-border-width: 2px;
$btn-font-weight: 700;

$figure-caption-font-size: (15/18 * 1rem);
$figure-caption-color: $black;

$nav-link-padding-y: (6/18 * 1rem);
$nav-link-padding-x: (50/18 * 1rem);

$nav-tabs-border-color: #e7e7e7;
$nav-tabs-border-width: 2px;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color;
$nav-tabs-link-active-color: $red;
$nav-tabs-link-active-bg: $white;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-link-active-bg;

$modal-backdrop-bg: $red;
$modal-backdrop-opacity: .8;
$modal-content-border-width: 0;
$modal-content-border-radius: 0;

$input-color: $black;
$input-font-size: (16/18 * 1rem);
$input-border-color: $black;
$input-border-radius: 0;
$input-focus-border-color: $black;
$input-padding-y: (8/18 * 1rem);
$input-padding-x: (12/18 * 1rem);

$modal-dialog-margin-y-sm-up: (70/18 * 1rem);
$modal-md: 1230px;
